#about{
    margin: 400px 40px;
    margin-bottom: 90px !important;

    h2{
        text-align: center;
        margin-bottom: 20px;

    }

    #gridd{
        display: grid;
        grid-template-columns: 6fr 5fr;
        column-gap: 90px;
        p{
            text-align: justify;
            line-height: 1.8;
            /* font-family: "Cormorant Garamond", serif; */
            font-family: Georgia, 'Times New Roman', Times, serif;
        }

        .gridHeader{
            margin-bottom: 27px !important;
        }

        
    }
}

#aboutMe{
  font-family: "Aclonica", sans-serif !important;
  font-size: 50px;
}

.purpleIntro{
    padding: 3px 25px;
    /* padding-bottom: 5px; */
    box-shadow: 0 0 0 #551A8B;
    transition: box-shadow 1s;
    p{
        font-size: 18px;
    }
}
.purpleIntro:hover{
    box-shadow: 5px 5px 8px #551A8B;
}

.blackIntro{
    padding: 3px 25px;
    /* padding-bottom: 5px; */
    box-shadow: 0 0 0 rgb(54, 53, 53);
    transition: box-shadow 1s;
    p{
        font-size: 18px;
    }
}
.blackIntro:hover{
    box-shadow: 5px 5px 8px rgb(54, 53, 53);
}

.whiteIntro{
    padding: 3px 25px;
    /* padding-bottom: 5px; */
    box-shadow: 0 0 0 rgb(146, 143, 143);
    transition: box-shadow 1s;
    p{
        font-size: 18px;
    }
}
.whiteIntro:hover{
    box-shadow: 5px 5px 8px rgb(146, 143, 143);
}



.purpleEducation{
    h2{
        color: #D6C376;
    }
}

.blackEducation h2{
    color: #FE2121;
}

.whiteEducation h2{
    color: #00247C;
}

@media (max-width: 600px) {
    #aboutMe{
        font-size: 30px !important;
    }
    #gridd{
        grid-template-columns: 1fr !important;
        grid-template-rows: auto !important;
        row-gap: 30px !important;
    }
    .Intro{
        p{
            font-size: 13px !important;
            line-height: 2.5 !important;
        }
    }
    #about{
        margin-top: 10px !important;
    }
}